<div class="div-container" style="margin-bottom: 20px;">
  <%= link_to 'Voltar', todo_list_todo_items_path,  class:'btn btn-new' %>
  <h3 class = 'title'>Editar tarefa</h3>
</div>

<%= render 'form', todo_item: @todo_item %>
