<div class="div-container" style="margin-bottom: 20px;">
  <%= link_to 'Voltar', todo_lists_path,  class:'btn-new bg-secondary' %>
  <h3 class = 'title'>Editar lista</h3>
</div>


<%= render 'form', todo_list: @todo_list %>


