<nav class="navbar fixed-top navbar-expand-lg navbar-dark header-container">
  <div class="container">
    <!-- Navbar brand -->
    <div class="container">
      <%= link_to image_tag("logo.png"), root_path, class: "logo" %>
    
    </div>
    
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div class="d-flex align-items-center">
          <%= button_to "Sair", destroy_user_session_path, method: :delete, class:"btn btn-sm px-3 me-2 btn-logout" %>
        </div>
      </div>
    <% else %>
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            &nbsp;
          </li>
        </ul>
        <div class="d-flex align-items-center">
          <%= link_to "Signup", new_user_registration_path, class:"btn btn-logout btn-sm px-3 me-2" %>
        </div>
      </div>
    <% end %>
  </div>
</nav>