/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *,html, body, td, th, tr{
  font-family: 'Poppins', sans-serif !important;
 }

 body {
    background-color: #dfdfdf !important; 
    /* linear-gradient(to right, cor-inicial, cor-final); */
    /* Use os códigos de cores hexadecimais para roxo (#800080) e laranja (#FFA500) */
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* Define a cor do texto para branco para melhor contraste */
  }

  tr {
    width: 100%;
    justify-content: space-between;
  }


  .btn-home {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent; /* Deixa o fundo sem cor */
    color: #3498db; /* Cor do texto */
    text-decoration: none;
    border: none; /* Remove a borda */
    font-weight: bold; /* Deixa o texto em negrito */
    font-size: 32px; /* Tamanho da fonte */
  }

  .btn-home:hover {
    color: #ffffff; /* Cor do texto no hover */
  }

  .header-container {
    display: flex;
    justify-content: space-between; /* Isso distribuirá o espaço entre os itens */
    align-items: center; /* Alinha os itens verticalmente */
    padding: 10px;
  }

   .title{
        margin-bottom: 10px; /* Adicione um espaçamento abaixo do título */
        display: inline-block;
        font-family: 'Poppins', sans-serif  
    }

  .div-container {
    width: 100%;
    margin-bottom: 40px; /* Adicione um espaçamento interno à div container */
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    align-items: center;
    margin: 0;

  }
 
  .btn-new {
    background-color: #FF700A !important;
    position: absolute;
    left: 0;
    color: #fff !important; /* Exemplo: Cor azul */
    border-radius: 5px;
    text-decoration: none; /* Remover sublinhado padrão */
    font-weight: bold; 

    border: none;

    font-size: 16px;

    display: inline-block;
    padding: 10px 20px;

  }

  .btn-new:hover{
    background-color: #fff !important;
    color: #ff700a !important;
    border-color: #ff700a !important;
    border-style: solid !important;
    border-width: 0.5px !important;
  }

  .adjust-button{
    margin-left: 10px;
  }
  
  .div-actions{
    justify-content: center; /* Alinha os itens horizontalmente no centro */
    align-items: center; 
  }

  .text-area{
    width: 130px;
    height: 24.73px;
  }

  .header-container{
    background-color: #2C1A55;
    font-family: "Poppins",Sans-serif;
  }

  .btn-logout{
    background-color: #FF700A !important; 
    color: #fff !important;
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent; /* Deixa o fundo sem cor */  
    text-decoration: none;
    border: none !important; /* Remove a borda */
    font-weight: bold; /* Deixa o texto em negrito */
    font-size: 32px; /* Tamanho da fonte */
  }
  .btn-logout:hover{
    background-color: #fff !important;
    color: #ff700a !important;
    border-color: #ff700a !important;
    border-style: solid !important;
    border-width: 0.5px !important;
  }

  .logo > img{
    margin: 1rem;
    width: 61px !important;
    height: 44px !important;
  }
  
  .logo > img:hover{
    opacity: 1;
    pointer-events: none !important;
  }

  a.logo:hover{
    background-color:transparent!important;
  }

  .btn-completed{
    right: 0 !important;
    position: absolute;
  }

  .icon > img{
    margin: 1rem;
    width: 25px !important;
    height: 25px !important;
  }

  .icon > img:hover{
    opacity: 1;
    pointer-events: none !important;
    background-color:transparent!important
  }
  a.icon:hover{
    background-color:transparent!important;
  }